.profile-page {
    background: #30343F;
}

.profile-banner {
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 83px;
    flex-shrink: 0;
    background: #89023E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-user {
    margin: 16px;
    width: 279px;
    height: 45px;
    flex-shrink: 0;
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height:normal;
}

.profile-user img {
    width: 203px;
    height: 203px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 203px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user-name{
    text-align: center;
}

.user-quote {
    display: block;
    width: 888px;
    height: 76px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    stroke-width: 1px;
    stroke: rgba(27, 32, 33, 0.30);
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.quote-content {
font-style: oblique;}

.profile-card {
    width: 330px;
    height: 440px;
    border-radius: 10px;
    background: #FFF;
    align-items:center;
    text-align: center;
}

.profile-card-title {
    width: 330px;
    height: 68px;
    background-color: rgba(255, 0, 110, 1);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    color: white;
    flex-direction: column;
}

.profile-card-body {
    margin-top: 105px;
    margin-bottom: 140px;
    margin-left: 85px;
    margin-right: 99px;
    width: 147px;
    height: 134px;
    flex-shrink: 0;
}

.profile-cards-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    margin-top: 432px;
}

.quote-button {
width: 200px;
height: 36px;
color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: rgba(255, 0, 110, 1);
border-radius: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.quote-button:hover {
    background-color: #89023E;;
    transition: 0.3s;
}