nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
  
}

nav ul li {
 margin-right: 6rem;
}

nav ul li a:hover {
  color: #ff006e;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}
