.Loupe {
  color: white;
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: #ff006e;
  border: none;
}

.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search {
  border-radius: 0.75rem;
  height: 2.5em;
  width: 33%;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  margin: 1rem;
  padding-left: 2rem;
}
